<ul>
    <li><a href="/dbView">DB View</a></li>
    <li><a href="/station">Station</a></li>
    <li><a href="/main">Sites</a></li>
    <li><a href="/test">Configuration</a></li>
    <li><a href="/monitor">Monitor</a></li>
    <li><a href="/about">About</a></li>
</ul>
